/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(51, 58, 71, 0.6); 
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);

}

/* Navbar links */  
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #00d4ff; /* bright blue on hover */
  transform: translateY(-2px);
}

